{% extends 'base.html' %}

{% block main %}
<div class = "main">
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
						<div class="content">
							<div class="header">
								<!--<div class="logo text-center"><img src="assets/img/logo-dark.png" alt="Klorofil Logo"></div>-->
								<p class="lead">Register for a new account</p>
							</div>
							<form class="form-register" action="" method="post" enctype="multipart/form-data">


								{% csrf_token %}
								{{form}}
                                <!--<div class="form-group">-->
									<!--<label for="register-reenter-password" class="control-label sr-only">Password</label>-->
									<!--<input type="password" class="form-control" id="register-reenter-password" value="" placeholder="Re-enter Password">-->
								<!--</div>-->
								<!---->
								<button type="submit" class="btn btn-primary btn-lg btn-block " style="margin-top:10px;">Register</button>
								<div class="bottom">
									
								</div>
							</form>
						</div>
				
					
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}