{% extends 'base.html' %}
{% load static from staticfiles %}

{% block cssfiles %}
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/AboutUs.css">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/styles.min.css">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/styles2.min.css">
{% endblock %}

{% block about_active %}
<li><a href="% url 'home:about' %}" class="active"><i class="fas fa-comments"></i> <span>About Us</span></a></li>
{% endblock %}

{% block main %}
<!-- MAIN -->
<div class="main">

    <section id="intro">

        <div class="intro-content">
            <h2>The <span>AL</span>Nourish Story</h2>

        </div>
    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

    </section>
    <main id="main">

        <!--==========================
          About Section
        ============================-->
        <section id="about" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img">
                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/algae.jpg" alt="">
                    </div>

                    <div class="col-lg-6 content">
                        <!--<h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>-->
                        <!--<h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>-->
                        <h2>
                            Kicking the M out of Malnourish
                        </h2>
                        <h3>ALNourish is an initiative founded by five engineering undergraduates who are deeply concerned about the widely overlooked issue of food sustainability, or the lack thereof. </h3>
                        <h3>We live in a world where one billion people go to bed hungry everyday and even more are malnourished. While we are unable to properly feed the existing population, what haunts the food enthusiasts is the fact that this population would rise to 9 billion people by 2050 and we would lack the sufficient amount of resources to feed the next generation. The issue of food security is made worse by the dwindling natural resources and already strained healthcare systems.
                        </h3>
                        <h3> Be it the malnourished kid in the poorest regions of the world or the average working millennial who wants fresh food for himself and his family, we strive to empower them all and change the way we eat, using algae as a nutritious, sustainable and scalable food source.
                        </h3>
                        <ul>
                            <li><i class="far fa-check-circle"></i> Objective 1
                            </li>
                            <li><i class="far fa-check-circle"></i> Objective 2
                            </li>
                            <li><i class="far fa-check-circle"></i> Objective 3
                            </li>
                        </ul>

                    </div>
                </div>
               
            </div>
        </section>
         <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Our Mission</h2>
            <h3 style="color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;">We are focused on incorporating algae into the human food chain and the global food system, making it mainstream.</h3>

<br><p style="color: #555;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;">We, at ALNourish believe that the issue of unsustainable global food system and food security issue can be tackled immediately and potentially resolved forever by an unconventional yet fundamentally natural solution - Introducing Spirulina and other forms of algae in our lives as a nutritious, sustainable and scalable food source.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Objective 1</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><a href="">Objective 2</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Objective 3</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="">Objective 4</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div>

        </div>

      </div>
    </section>
          <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Vision</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-4 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/1.jpg" class="portfolio-popup">
                <img src="img/portfolio/1.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Our Vision 1</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/2.jpg" class="portfolio-popup">
                <img src="img/portfolio/2.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Our Vision 2</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="img/portfolio/3.jpg" class="portfolio-popup">
                <img src="img/portfolio/3.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Our Vision 3</h2></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section>
        <section id="testimonials" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>How big is the problem really?</h2>
          <p>We'll let some of they most renowned media outlets and scientific institutions answer that as they talk about the pertinence of the issue of food security and sustainability.</p>
        </div>
        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                THE WORLD'S FOOD SYSTEM IS BROKEN AND UNSUSTAINABLE

                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/globalcause" class="testimonial-img" alt="">
              <h3>Global Cause UK</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                GLOBAL SURVEY SAYS OUR DIET IS STILL UNSUSTAINABLE. MOST PEOPLE BELIEVE THEY LACK ENOUGH INFORMATION AND INFLUENCE TO BECOME MORE ENVIRONMENTALLY SUSTAINABLE CONSUMERS

                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/nationaldscs-2.jpg" class="testimonial-img" alt="">
              <h3>National Geographic</h3>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                AS WE HUMANS OF THE PLANET EARTH GO ABOUT PRODUCING AND CONSUMING OUR FOOD WE SET IN TRAIN A LONG LIST OF ENVIRONMENTAL PROBLEMS.  WHAT WE ARE DOING IS UNSUSTAINABLE BECAUSE THE ENVIRONMENTAL  DAMAGE WE ARE CAUSING WILL MAKE IT HARDER AND HARDER FOR US TO LIVE WELL.
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/permaculture.png" class="testimonial-img" alt="">
              <h3>Permaculture Australia</h3>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              THE FOOD SYSTEM IS AN UNSUSTAINABLE MESS, ONE THAT'S RAVAGING THE ENVIRONMENT, PERPETUATING DISEASE, AND EXACERBATING POVERTY AND INEQUALITY
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/vice-logo-1.jpg" class="testimonial-img" alt="">
              <h3>VICE</h3>
              <h4>Freelancer</h4>
            </div>

            <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                IT’S A TIME OF DEEP UNCERTAINTY AT EVERY LINK IN THE GLOBAL FOOD CHAIN. FOR THE FIRST TIME IN A DECADE, THE NUMBER OF HUNGRY AND MALNOURISHED PEOPLE IN THE WORLD IS RISING. CLIMATE CHANGE THREATENS BREADBASKET REGIONS THE WORLD OVER. 
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
              <h3>The Nation</h3>
              <h4>Entrepreneur</h4>
            </div>
            
               <div class="testimonial-item">
              <p>
                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
               THERE IS ENOUGH FOOD FOR EVERYONE ON THE PLANET TO LEAD A HEALTHY AND NUTRITIOUS LIFE, BUT THE GLOBAL FOOD SUPPLY IS DEEPLY INEQUITABLE 
                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
              </p>
              <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
              <h3>The Gaurdian</h3>
              <h4>Entrepreneur</h4>
            </div>

        </div>

      </div>
    </section>
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Support Us</h3>
            <p class="cta-text">We are in contention to present our idea to help eradicate malnourishment and poverty in Rural Households globally, in front of the whole world at The Thought For Food Global Summit, which will allow us to feed and self-sustain thousands of rural homes. </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Spread the word</a>
          </div>
        </div>

      </div>
    </section>



<!-- END MAIN -->
{% endblock %}
        {% block js %}

 <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>
{% endblock %}
