<!doctype html>
{% load static from staticfiles %}
<html lang="en">

<head>
    <title>AlNourish</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/collapzion.min.css">
    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/main.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="76x76"
          href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/favicon.png">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>


    {% block cssfiles %}
    {% endblock %}

    <style>

.social ul.social_icons li {
    display: inline-block;
}
.social ul.social_icons li a{
	width: 30px;
	height: 30px;
	font-size: 0px;
	background: url(http://i.imgur.com/MkUfchL.png) no-repeat;
	margin-top: 4px;
	display:block;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social ul.social_icons li.facebook a:hover{
		background-position: 0 -33px;
} 
.social ul.social_icons li.twitter a{
		background-position:-33px 0;
} 
.social ul.social_icons li.twitter a:hover{
		background-position:-33px -33px;
}
.social ul.social_icons li.insta a{
		background-position: -66px 0;
} 
.social ul.social_icons li.insta a:hover{
		background-position: -66px -33px;
}
.social ul.social_icons li.youtube a {
	background-position: -99px 0;
}
.social ul.social_icons li.youtube a:hover {
	background-position: -99px -33px;
}
.social ul.social_icons li.pin a {
	background-position: -132px 0;
}
.social ul.social_icons li.pin a:hover {
	background-position: -132px -33px;
}






    </style>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="{% url 'home:index' %}"><img
                    src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/logo-dark.png"
                    alt="Klorofil Logo"
                    class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-btn navbar-btn-right">
                <!--<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFTSURBVGhD7Zk9SgVBEIQ3ETyCGiiYGwkewKsY6D1MjE29hngBFRNT0cB3BRFMxECtgm1omlHXt+PYA/XBF+xjX/UUu7B/gxBCiOxswN3GrsNqbMEb+PFPXsNNOBsGlQa0lGuYBQ+thb3Dp8Zyps1fg0uzAy3omT80hjNtPteyNCpSidRFVuEhPIf3cAHv4C08hZ60RbYhF2+Z0UvoSVmER+IBWl7JLorwdLKsr+yiyAW0LJ95Bk9Gj6AnZZFHaFnmHvyOlEV4pbYs+gZ/ImURv6ipeSoSmVMkPlu8QMui3I77xNv1FEXsf7/xGHq6LXIAPd0W2YeebovwXsyToohdrc1XaFmU23GfFehJUSTiFzU1T0UiKlJARUZVhKhIARUZVRFS8yW2fyE9Na/aS2yS4bPCFZwNn9oYVBrQQs6u8qHH4GkWH03/2qqf3oQQQlRmGD4BdMQr0ER2nmsAAAAASUVORK5CYII=">-->
                {% if not request.user.is_authenticated %}
                <a class="btn btn-success update-pro" href="{% url 'account:login' %}"
                   target="_blank"><i class="fa fa-rocket"></i> <span>Login</span></a>
                <a class="btn btn-success update-pro" href="{% url 'account:register' %}"
                   target="_blank"><i class="fa fa-rocket"></i> <span>Register</span></a>
                {% endif %}
            </div>
            </div>
            </nav>


            <!--<div id="navbar-menu">-->

                <!--<ul class="nav navbar-nav navbar-right">-->


                    <!--{% if request.user.is_authenticated %}-->
                    <!--<li class="dropdown">-->

                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--&lt;!&ndash;<img src="{% static 'assets/img/user.png' %}" class="img-circle" alt="Avatar"> &ndash;&gt;-->
                            <!--<span>{{request.user.username}}</span>-->
                            <!--<i class="icon-submenu fa fa-bars"></i>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--&lt;!&ndash;<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>&ndash;&gt;-->
                            <!--<li><a href="{% url 'account:logout' %}"><i class="fa fa-close"></i>-->
                                <!--<span>Logout</span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--{% endif %}-->
                    <!--&lt;!&ndash; <li>-->
                        <!--<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>-->
                    <!--</li> &ndash;&gt;-->
                <!--</ul>-->

            <!--</div>-->
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">

                    <li>
                        <a href="#subPage" data-toggle="collapse" class="collapsed"><i class="fas fa-user-circle"></i>
                            {% if not request.user.is_authenticated %}
                            <span>Hi, Guest!</span>
                            <i class="icon-submenu fas fa-chevron-left"></i></a>
                        <div id="subPage" class="collapse active">
                            <ul class="nav">
                                <li><a href="{% url 'account:login' %}" class=""><i
                                        class="fas fa-sign-in-alt"></i>Login</a>
                                </li>
                                <li><a href="{% url 'account:register' %}" class=""><i class="fas fa-user-plus"></i>Register</a>
                                </li>

                            </ul>
                        </div>
                        {% else %}
                        <span>Hi, {{request.user.username}}</span>
                        <i class="icon-submenu fas fa-chevron-left"></i></a>
                        <div id="subPage" class="collapse active">
                            <ul class="nav">
                                <li><a href="{% url 'account:logout' %}" class=""><i
                                        class="fas fa-user-times"></i>Logout</a>
                                </li>


                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    <br>


                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="fa fa-home"></i> <span>Home</span>
                            <i class="icon-submenu fas fa-chevron-left"></i></a>
                        <div id="subPages" class="collapse active">
                            <ul class="nav">
                                {% block home_active %}
                                <li><a href="{% url 'home:index' %}" class=""><i class="fas fa-th-large"></i>Main</a>
                                </li>
                                {% endblock %}
                                {% block grow_active %}
                                <li><a href="{% url 'profile:index' %}" class=""><i class="fas fa-sun"></i>Grow</a></li>
                                {% endblock %}
                                {% block eat_active %}
                                <li><a href="{% url 'home:eat' %}" class=""><i class="fas fa-utensils"></i>Eat</a></li>
                                {% endblock %}
                                {% block sell_active %}
                                <li><a href="" class=""><i class="fas fa-sync"></i>Sell</a></li>
                                {% endblock %}
                                {% block buy_active %}
                                <li><a href="" class=""><i class="fab fa-delicious"></i>Buy</a></li>
                                {% endblock %}

                            </ul>
                        </div>
                    </li>
                    {% block about_active %}
                    <li><a href="{% url 'home:about' %}" class=""><i class="fas fa-comments"></i> <span>About Us</span></a>
                    </li>
                    {% endblock %}
                    {% block about_team %}
                    <li><a href="{% url 'home:team' %}" class=""><i class="fas fa-users"></i> <span>Our Team</span></a>
                    </li>
                    {% endblock %}
                    
                    <!--{% if not request.user.is_authenticated %}-->
                    <!--{% block login_active %}<li><a href="{% url 'account:login' %}" class=""><i class="lnr lnr-home"></i> <span>Login</span></a></li>{% endblock %}-->
                    <!--{% block register_active %}<li><a href="{% url 'account:register' %}" class=""><i class="lnr lnr-home"></i> <span>Register</span></a></li>{% endblock %}-->
                    <!--{% endif %}-->
                    {% block impact_active %}
                    <li><a href="{% url 'home:impact' %}" class=""><i class="fas fa-globe"></i> <span>Our Impact</span></a>
                    </li>
                    {% endblock %}
                    {% block blog_active %}
                    <li><a target="_blank" href="http://labs.tffchallenge.com/team/2018/2222-alnourish/" class="">
                    <i class="fas fa-edit"></i> <span>Blog</span></a></li>
                    {% endblock %}
                    {% block contact_active %}
                    <li><a href="{% url 'home:contact' %}" class=""><i
                            class="fas fa-bullhorn"></i><span>Contact Us</span></a>
                    </li>
                    {% endblock %}

                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    {% block main %}
    {% endblock %}

    <div class="social">

        <ul class="social_icons text-center">
            <li class="facebook"><a target="_blank" href="https://www.facebook.com/alnourish">facebook</a></li>
            <li class="twitter"><a target="_blank" href="https://www.twitter.com/alnourish">twitter</a></li>
            <li class="insta"><a target="_blank" href="https://www.instagram.com/alnourishofficial/">insta</a></li>
            <li class="youtube"><a href="#">youtube</a></li>

        </ul>
        <!--<small>Developed and Maintained by : Ackshay Jain and Devansh Jain</small>-->
    </div>

</div>

<!-- END WRAPPER -->
<!-- Javascript -->
<script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/vendor/jquery/jquery.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!--<script src="{% static 'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>-->
<!--<script src="{% static 'assets/vendor/chartist/js/chartist.min.js' %}"></script>-->
<script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/collapzion.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/klorofil-common.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/script.min.js"></script>
{% block jsfiles %}
{% endblock %}

<script>$('#myTabs a').click(
	function (e) {
  		e.preventDefault()
  		$(this).tab('show')
		}
	)













</script>

</body>

</html>