<!doctype html>
{% load static from staticfiles %}
<html lang="en">

<head>
    <title>AlNourish</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/linearicons/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/chartist/css/chartist-custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/collapzion.min.css' %}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon.png' %}">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>


    {% block cssfiles %}
    {% endblock %}
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="index.html"><img src="{% static 'assets/img/logo-dark.png' %}" alt="Klorofil Logo"
                                      class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <div class="navbar-btn navbar-btn-right">
                {% if not request.user.is_authenticated %}
                <a class="btn btn-success update-pro" href="{% url 'account:login' %}" title="Upgrade to Pro"
                   target="_blank"><i class="fa fa-rocket"></i> <span>Login</span></a>
                <a class="btn btn-success update-pro" href="{% url 'account:register' %}" title="Upgrade to Pro"
                   target="_blank"><i class="fa fa-rocket"></i> <span>Register</span></a>
                {% endif %}
            </div>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">

                    {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                src="{% static 'assets/img/user.png' %}" class="img-circle" alt="Avatar"> <span>{{request.user.username}}</span>
                            <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>-->
                            <!--<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>-->
                            <!--<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>-->
                            <li><a href="{% url 'account:logout' %}"><i class="lnr lnr-exit"></i>
                                <span>Logout</span></a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <!-- <li>
                        <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    {% block home_active %}
                    <li><a href="{% url 'home:index' %}"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
                    {% endblock %}
                    {% block about_active %}
                    <li><a href="{% url 'home:about' %}" class=""><i class="lnr lnr-home"></i> <span>About Us</span></a>
                    </li>
                    {% endblock %}
                    {% block contact_active %}
                    <li><a href="{% url 'home:contact' %}" class=""><i class="lnr lnr-home"></i><span>Contact Us</span></a>
                    </li>
                    {% endblock %}
                    <!--{% if not request.user.is_authenticated %}-->
                    <!--{% block login_active %}<li><a href="{% url 'account:login' %}" class=""><i class="lnr lnr-home"></i> <span>Login</span></a></li>{% endblock %}-->
                    <!--{% block register_active %}<li><a href="{% url 'account:register' %}" class=""><i class="lnr lnr-home"></i> <span>Register</span></a></li>{% endblock %}-->
                    <!--{% endif %}-->
                    {% block impact_active %}
                    <li><a href="OurImpact.html" class=""><i class="lnr lnr-home"></i> <span>Our Impact</span></a></li>
                    {% endblock %}
                    {% block blog_active %}
                    <li><a href="Blog.html" class=""><i class="lnr lnr-home"></i> <span>Blog</span></a></li>
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    {% block main %}
    {% endblock %}

    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2018 <a href="https://www.themeineed.com" target="_blank">AL</a>Nourish</p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!--<script src="{% static 'assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>-->
<!--<script src="{% static 'assets/vendor/chartist/js/chartist.min.js' %}"></script>-->
<script src="{% static 'assets/scripts/collapzion.min.js' %}"></script>
<script src="{% static 'assets/scripts/klorofil-common.js' %}"></script>
{% block jsfiles %}
{% endblock %}

<script>$('#myTabs a').click(

	function (e) {
  		e.preventDefault()
  		$(this).tab('show')
		}
	)


{% block js %}
{% endblock %}


</script>
</body>

</html>
