{% extends 'base.html' %}
{% load static from staticfiles %}

{% block cssfiles %}
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/AboutUs.css">
<link href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/animate.min.css" rel="stylesheet">
<link href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/ionicons.min.css" rel="stylesheet">
<link href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/owl.carousel.min.css" rel="stylesheet">
<link href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/magnific-popup.css" rel="stylesheet">


{% endblock %}

{% block eat_active %}
<li><a href="{% url 'home:eat' %}" class="active"><i class="fas fa-utensils"></i>Eat</a></li>{% endblock %}


{% block main %}
<!-- MAIN -->
<div class="main">

    <section id="intro">

        <div class="intro-content">
            <h2>The <span>ALNourish</span> Kitchen</h2>

        </div>
        <div id="intro-carousel" class="owl-carousel">
            <div class="item"
                 style="background-image: url('');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
        </div>

    </section>
    <main id="main">

        <section id="portfolio" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Recipes</h2>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row no-gutters">

                    {% for i in "xxxxxxxxxx" %}
                    <div class="col-lg-4 col-md-4">
                        <div class="portfolio-item wow fadeInUp">

                            <a href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/recipes/{{forloop.counter}}.jpg"
                               class="portfolio-popup">
                                <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/recipes/{{forloop.counter}}.jpg"
                                     alt="">

                                <!--<div class="portfolio-overlay">-->
                                    <!--<div class="portfolio-info"><h2 class="wow fadeInUp">Recipe Title</h2></div>-->
                                <!--</div>-->
                            </a>
                        </div>
                    </div>
                    {% endfor %}



                    <!--<div class="col-lg-4 col-md-4">-->
                        <!--<div class="portfolio-item wow fadeInUp">-->

                            <!--<a href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/recipes/2.jpg"-->
                               <!--class="portfolio-popup">-->
                                <!--<img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/recipes/2.jpg"-->
                                     <!--alt="">-->

                                <!--<div class="portfolio-overlay">-->
                                    <!--<div class="portfolio-info"><h2 class="wow fadeInUp">Recipe Title</h2></div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-lg-4 col-md-4">-->
                        <!--<div class="portfolio-item wow fadeInUp">-->
                            <!--<a href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/recipes/3.jpg"-->
                               <!--class="portfolio-popup">-->
                                <!--<img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/recipes/3.jpg"-->
                                     <!--alt="">-->

                                <!--<div class="portfolio-overlay">-->
                                    <!--<div class="portfolio-info"><h2 class="wow fadeInUp">Recipe Title</h2></div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->

            </div>
        </section>
        <section id="call-to-action" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Have a recipe?</h3>
                        <p class="cta-text">Do you have a delicious algae recipe of your own? Get featured on The
                            ALNourish Kitchen.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="mailto:communication@alnourish.com">Send us the recipe</a>
                    </div>
                </div>

            </div>
        </section>


        <!-- END MAIN -->
        {% endblock %}
        {% block jsfiles %}

        <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/easing.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/hoverIntent.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/superfish.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/wow.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/owl.carousel.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/magnific-popup.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/sticky.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/about.js"></script>
        {% endblock %}
