{% extends 'base.html' %}
{% load static from staticfiles %}

{% block cssfiles %}
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/AboutUs.css">
<link href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/animate.min.css" rel="stylesheet">
<link href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/ionicons.min.css" rel="stylesheet">
<link href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/owl.carousel.min.css" rel="stylesheet">
<link href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/magnific-popup.css" rel="stylesheet">

{% endblock %}

{% block impact_active %}
<li><a href="% url 'home:impact' %}" class="active"><i class="fas fa-globe"></i> <span>Our Impact</span></a></li>
{% endblock %}

{% block main %}
<!-- MAIN -->
<div class="main">

    <section id="intro">

        <div class="intro-content">
            <h2>The <span>Alage</span> Impact</h2>

        </div>
        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
        </div>

    </section>
    <main id="main">

        <!--==========================
          About Section
        ============================-->
        <section id="about" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img">
                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/OurImpact.jpg" alt="">
                    </div>

                    <div class="col-lg-6 content">
                        <!--<h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>-->
                        <!--<h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>-->
                        <h2>
                            Why Algae?
                        </h2>
                        <h3>While the world is struggling to solve the problem of food sustainability by finding ways to
                            feed the growing population by optimising the existing produce, we approached the problem
                            from a more fundamental perspective and explored new avenues, resulting in an unconventional
                            yet fundamentally natural solution to not only satisfy our food requirements but also make
                            the global population healthier in a manner that's good for our planet. Touted as the 'food
                            of the future' We aim to bring into the limelight a species of edible algae - Spirulina
                            which has the potential to be in everything you eat in the next ten years. </h3>
                        <ul>
                            <li><i class="far fa-check-circle"></i> It's good for you
                            </li>
                            <li><i class="far fa-check-circle"></i> It's good for the planet
                            </li>
                            <li><i class="far fa-check-circle"></i> Objective 3
                            </li>
                            <li><i class="far fa-check-circle"></i> It's good for you
                            </li>
                            <li><i class="far fa-check-circle"></i> It's good for the planet
                            </li>
                            <li><i class="far fa-check-circle"></i> Objective 3
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <section id="testimonials" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>What The Experts Are Saying</h2>
                    <h3 style="color: #555;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;">Hyped by supplement enthusiasts as providing a number of magical benefits, this superfood may be
                        one of the most nutritious foods known to man and is deemed food of the future. Algae benefits
                        are so pronounced — due to their high concentrations of vitamins, minerals, antioxidants and
                        proteins — that they are commonly referred to as superfoods.<br>Easy to grow and densely packed
                        with protein and nutrients, these organisms can make our food system more efficient and less
                        resource-intensive.</h3>

                    <br>
                    <p style="color: #555;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;">We, at ALNourish believe that the issue of unsustainable global food system and food security
                        issue can be tackled immediately and potentially resolved forever by an unconventional yet
                        fundamentally natural solution - Introducing Spirulina and other forms of algae in our lives as
                        a nutritious, sustainable and scalable food source.</p>
                </div>
                            <div class="owl-carousel testimonials-carousel">

                                <div class="testimonial-item">
                                    <p>
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-left.png"
                                             class="quote-sign-left" alt="">
                                        THE WORLD'S FOOD SYSTEM IS BROKEN AND UNSUSTAINABLE

                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-right.png"
                                             class="quote-sign-right" alt="">
                                    </p>
                                    <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/globalcause"
                                         class="testimonial-img" alt="">
                                    <h3>Global Cause UK</h3>
                                    <h4>Ceo &amp; Founder</h4>
                                </div>

                                <div class="testimonial-item">
                                    <p>
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-left.png"
                                             class="quote-sign-left" alt="">
                                        GLOBAL SURVEY SAYS OUR DIET IS STILL UNSUSTAINABLE. MOST PEOPLE BELIEVE THEY
                                        LACK ENOUGH
                                        INFORMATION AND INFLUENCE TO BECOME MORE ENVIRONMENTALLY SUSTAINABLE CONSUMERS

                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-right.png"
                                             class="quote-sign-right" alt="">
                                    </p>
                                    <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/national.png"
                                         class="testimonial-img" alt="">
                                    <h3>National Geographic</h3>
                                </div>

                                <div class="testimonial-item">
                                    <p>
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-left.png"
                                             class="quote-sign-left" alt="">
                                        AS WE HUMANS OF THE PLANET EARTH GO ABOUT PRODUCING AND CONSUMING OUR FOOD WE
                                        SET IN TRAIN A
                                        LONG LIST OF ENVIRONMENTAL PROBLEMS. WHAT WE ARE DOING IS UNSUSTAINABLE BECAUSE
                                        THE
                                        ENVIRONMENTAL DAMAGE WE ARE CAUSING WILL MAKE IT HARDER AND HARDER FOR US TO
                                        LIVE WELL.
                                        <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                                    </p>
                                    <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/permaculture.png"
                                         class="testimonial-img" alt="">
                                    <h3>Permaculture Australia</h3>
                                </div>

                                <div class="testimonial-item">
                                    <p>
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-left.png"
                                             class="quote-sign-left" alt="">
                                        THE FOOD SYSTEM IS AN UNSUSTAINABLE MESS, ONE THAT'S RAVAGING THE ENVIRONMENT,
                                        PERPETUATING
                                        DISEASE, AND EXACERBATING POVERTY AND INEQUALITY
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-right.png"
                                             class="quote-sign-right" alt="">
                                    </p>
                                    <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/VICE-logo-1.jpg"
                                         class="testimonial-img" alt="">
                                    <h3>VICE</h3>
                                    <h4>Freelancer</h4>
                                </div>

                                <div class="testimonial-item">
                                    <p>
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-left.png"
                                             class="quote-sign-left" alt="">
                                        IT’S A TIME OF DEEP UNCERTAINTY AT EVERY LINK IN THE GLOBAL FOOD CHAIN. FOR THE
                                        FIRST TIME
                                        IN A DECADE, THE NUMBER OF HUNGRY AND MALNOURISHED PEOPLE IN THE WORLD IS
                                        RISING. CLIMATE
                                        CHANGE THREATENS BREADBASKET REGIONS THE WORLD OVER.
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-right.png"
                                             class="quote-sign-right" alt="">
                                    </p>
                                    <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/the-nation.png"
                                         class="testimonial-img" alt="">
                                    <h3>The Nation</h3>
                                    <h4>Entrepreneur</h4>
                                </div>

                                <div class="testimonial-item">
                                    <p>
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-left.png"
                                             class="quote-sign-left" alt="">
                                        IT’S A TIME OF DEEP UNCERTAINTY AT EVERY LINK IN THE GLOBAL FOOD CHAIN. FOR THE
                                        FIRST TIME IN A DECADE, THE NUMBER OF HUNGRY AND MALNOURISHED PEOPLE IN THE
                                        WORLD IS RISING. CLIMATE CHANGE THREATENS BREADBASKET REGIONS THE WORLD OVER.
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-right.png"
                                             class="quote-sign-right" alt="">
                                    </p>
                                    <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/the-nation.png"
                                         class="testimonial-img" alt="">
                                    <h3>The Nation</h3>
                                    <h4>Entrepreneur</h4>
                                </div>

                                <div class="testimonial-item">
                                    <p>
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-left.png"
                                             class="quote-sign-left" alt="">
                                        THERE IS ENOUGH FOOD FOR EVERYONE ON THE PLANET TO LEAD A HEALTHY AND NUTRITIOUS
                                        LIFE, BUT THE GLOBAL FOOD SUPPLY IS DEEPLY INEQUITABLE
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-right.png"
                                             class="quote-sign-right" alt="">
                                    </p>
                                    <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/guardian.jpg"
                                         class="testimonial-img" alt="">
                                    <h3>The Gaurdian</h3>
                                    <h4>Entrepreneur</h4>

                                </div>
                                <div class="testimonial-item">
                                    <p>
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-left.png"
                                             class="quote-sign-left" alt="">
                                        THERE IS ENOUGH FOOD FOR EVERYONE ON THE PLANET TO LEAD A HEALTHY AND NUTRITIOUS
                                        LIFE, BUT
                                        THE GLOBAL FOOD SUPPLY IS DEEPLY INEQUITABLE
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/quote-sign-right.png"
                                             class="quote-sign-right" alt="">
                                    </p>
                                    <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/guardian.jpg"
                                         class="testimonial-img" alt="">
                                    <h3>The Gaurdian</h3>
                                    <h4>Entrepreneur</h4>
                                </div>

                            </div>

                        </div>
                    </section>
                    <section id="call-to-action" class="wow fadeInUp">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9 text-center text-lg-left">
                                    <h3 class="cta-title">Support Us</h3>
                                    <p class="cta-text">We are in contention to present our idea to help eradicate
                                        malnourishment
                                        and poverty in Rural Households globally, in front of the whole world at The
                                        Thought For
                                        Food Global Summit, which will allow us to feed and self-sustain thousands of
                                        rural
                                        homes. </p>
                                </div>
                                <div class="col-lg-3 cta-btn-container text-center">
                                    <a class="cta-btn align-middle" href="#">Spread the word</a>
                                </div>
                            </div>

                        </div>
                    </section>


                    <!-- END MAIN -->
                    {% endblock %}
                    {% block jsfiles %}


                    <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/hoverIntent.js"></script>
                    <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/superfish.min.js"></script>
                    <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/wow.min.js"></script>
                    <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/easing.min.js"></script>
                    <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/owl.carousel.min.js"></script>
                    <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/magnific-popup.min.js"></script>
                    <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/sticky.js"></script>
                    <script src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/scripts/about.js"></script>

                    {% endblock %}
