{% extends 'base.html' %}
{% load static from staticfiles %}

{% block cssfiles %}
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/AboutUs.css">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/styles.min.css">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/styles2.min.css">
{% endblock %}

{% block about_team %}
<li><a href="{% url 'home:team' %}" class="active"><i class="fas fa-users"></i> <span>Our Team</span></a></li>
{% endblock %}
{% block main %}
<!-- MAIN -->
<div class="main">
    <section id="team" class="wow fadeInUp card-section-imagia">
      <div class="container">
        <div class="section-header">
          <h2>Meet The Team</h2>
                <h3 style="color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;">The most important people in the ALNourish story working hard day and night to achieve the vision that binds us together.</h3>
          </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia"><img src="https://unsplash.it/720/500?image=1067"
                                                                       alt=""></div>
                                        <div class="user-imagia"><img src="https://unsplash.it/120/120?image=64"
                                                                      class="img-circle" alt=""></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">Devansh Jain Nawal</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                adiuves.</em></p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix interneciva
                                                    aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i
                                                    class="fab fa-facebook-f"></i></a><a href="#"><i
                                                    class="fab fa-linkedin"></i></a><a href="#"><i
                                                    class="fab fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia cover-gradient"></div>
                                        <div class="user-imagia"><img src="https://unsplash.it/120/120?image=64"
                                                                      class="img-circle" alt=""></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">Ackshay Jain</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                adiuves. </em></p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix interneciva
                                                    aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia"><img src="https://unsplash.it/720/500?image=1067"
                                                                       alt=""></div>
                                        <div class="user-imagia"><img src="https://unsplash.it/120/120?image=64"
                                                                      class="img-circle" alt=""></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">Riya Pannu</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                adiuves. </em></p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix interneciva
                                                    aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia"><img src="https://unsplash.it/720/500?image=1067"
                                                                       alt=""></div>
                                        <div class="user-imagia"><img src="https://unsplash.it/120/120?image=64"
                                                                      class="img-circle" alt=""></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">Shashank</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                adiuves.</em></p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix interneciva
                                                    aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="card-container-imagia">
                                <div class="card-imagia">
                                    <div class="front-imagia">
                                        <div class="cover-imagia"><img src="https://unsplash.it/720/500?image=1067"
                                                                       alt=""></div>
                                        <div class="user-imagia"><img src="https://unsplash.it/120/120?image=64"
                                                                      class="img-circle" alt=""></div>
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">Srijan Jain</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                adiuves. </em></p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                    </div>
                                    <div class="back-imagia">
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix interneciva
                                                    aegre vestigia claritudinis pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div>
                                        <div class="footer-imagia">
                                            <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


{% endblock %}

