{% extends 'base.html' %}
{% load static from staticfiles %}

{% block cssfiles %}
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/AboutUs.css">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/styles.min.css">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/css/styles2.min.css">
{% endblock %}

{% block about_team %}
<li><a href="{% url 'home:team' %}" class="active"><i class="fas fa-users"></i> <span>Our Team</span></a></li>
{% endblock %}
{% block main %}
<!-- MAIN -->
<div class="main">
    <section id="team" class="wow fadeInUp card-section-imagia">
        <div class="container">
            <div class="section-header">
                <h2>Meet The Team</h2>
                <h3 style="color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;">The most important people in the ALNourish story working hard day and night to achieve the vision
                    that binds us together.</h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="card-container-imagia">
                            <div class="card-imagia">
                                <div class="front-imagia">
                                    <div class="cover-imagia cover-gradient">
                                        <!--<img src="https://unsplash.it/720/500?image=1067"-->
                                        <!--alt="">-->
                                    </div>
                                    <div class="user-imagia"><img
                                            src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/devansh.jpg"
                                            class="img-circle" alt=""></div>
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">Devansh Jain Nawal</h3>
                                        <!--<p class="subtitle-imagia">CEO </p>-->
                                        <p class="text-center"><em>Computer Science Engineering<br>
                                            Netaji Subhash Institute Of Technology <br>
                                            2020</em></p>
                                    </div>
                                    <!--<div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>-->
                                    <!--</div>-->
                                </div>
                                <div class="back-imagia">
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Devansh Jain Nawal</h3>
                                            <p class="text-center">I am a full stack developer based out of Gurgaon.
                                                Being an avid debater, I frequent Model UN conferences and I'm
                                                interested in International Law and Policy.
                                                Operating in the unique space where code and the real world overlap,I am
                                                also invested in the fields of robotics. Regularly participating in Tech
                                                quizes and cryptic hunts, I love studying new tech.
                                                Cryto-currency, Artifical Intelligence and Augmented Reality are the
                                                areas that really excite me, and may dominate my sphere of work for the
                                                years to come.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card-container-imagia">
                            <div class="card-imagia">
                                <div class="front-imagia">
                                    <div class="cover-imagia cover-gradient">
                                        <!--<img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/ackshay.jpg" class="img-circle" alt="">-->
                                    </div>
                                    <div class="user-imagia">
                                        <img src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/ackshay.jpg"
                                             class="img-circle" alt="">
                                    </div>
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">Ackshay Jain</h3>
                                        <!--<p class="subtitle-imagia">CTO </p>-->
                                        <p class="text-center"><em>Computer Science Engineering<br>
                                            Maharaja Agrasen Institute Of Technology <br>
                                            2020</em></p>
                                    </div>
                                    <!--<div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>-->
                                    <!--</div>-->
                                </div>
                                <div class="back-imagia">
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Ackshay Jain</h3>
                                            <p class="text-center">I am a Django(Python) Backend Developer based out of
                                                Gurgaon. I am an avid bitcoin-altcoin investor and love to study the
                                                cyrptocurrency markets.
                                                I'm an Agile Developer and am efficient with Scrum methodologies at
                                                work.
                                            I believe in Engineering robust, user-focused solutions driving breakthrough efficiency and bottom-line results</p>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card-container-imagia">
                            <div class="card-imagia">
                                <div class="front-imagia">
                                    <div class="cover-imagia cover-gradient">
                                        <!--<img src="https://unsplash.it/720/500?image=1067"-->
                                        <!--alt="">-->
                                    </div>
                                    <div class="user-imagia"><img
                                            src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/riya_new.jpg"
                                            class="img-circle" alt=""></div>
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">Riya Pannu</h3>
                                        <!--<p class="subtitle-imagia">COO </p>-->
                                        <p class="text-center"><em>Computer Science Engineering<br>
                                            Netaji Subhash Institute Of Technology <br>
                                            2020</em></p>
                                    </div>
                                    <!--<div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>-->
                                    <!--</div>-->
                                </div>
                                <div class="back-imagia">
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Riya Pannu</h3>
                                            <p class="text-center">A full stack developer based out of New Delhi, I am an IT enthusiast. I am an active contributor to open source projects and want to use technology to have an impact on the lives of people and deal with the real life problems. I have a keen interest in the field of artificial intelligence with an aptitude for maths and science as well. </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <div class="card-container-imagia">
                            <div class="card-imagia">
                                <div class="front-imagia">
                                    <div class="cover-imagia cover-gradient">
                                        <!--<img src="https://unsplash.it/720/500?image=1067"-->
                                        <!--alt="">-->
                                    </div>
                                    <div class="user-imagia"><img
                                            src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/shashank.jpg"
                                            class="img-circle" alt=""></div>
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">Shashank</h3>
                                        <!--<p class="subtitle-imagia">CSO </p>-->
                                        <p class="text-center"><em>BioTechnology Engineering<br>
                                            Netaji Subhash Institute Of Technology <br>
                                            2020</em></p>
                                    </div>
                                    <!--<div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>-->
                                    <!--</div>-->
                                </div>
                                <div class="back-imagia">
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Shashank</h3>
                                            <p class="text-center">I am a Biotechnology student presently living in Delhi. I am a Debater and have been to several MUN Conferences and Parliamentary Debates in the last two years. I have worked in BioInformatics, Molecular Biology, Cloning and Food and Drug testing and am very keep on working with Algae as it is not an organism we frequently study or work with, in our Undergrad. I hope to continue working in Biosciences even in the future. </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="card-container-imagia">
                            <div class="card-imagia">
                                <div class="front-imagia">
                                    <div class="cover-imagia cover-gradient">
                                        <!--<img src="https://unsplash.it/720/500?image=1067" alt="">-->
                                    </div>
                                    <div class="user-imagia"><img
                                            src="https://s3.ap-south-1.amazonaws.com/alnourishbucket/assets/img/srijan.jpg"
                                            class="img-circle" alt=""></div>
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">Srijan Jain</h3>
                                        <!--<p class="subtitle-imagia">CIO </p>-->
                                        <p class="text-center"><em>Instrumentation and Control Engineering<br>
                                            Netaji Subhash Institute Of Technology <br>
                                            2021</em></p>
                                    </div>
                                    <!--<div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>-->
                                    <!--</div>-->
                                </div>
                                <div class="back-imagia">
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Srijan Jain</h3>
                                            <p class="text-center">
                                                I am a part time Quizzer and a full time Developer.
                                                I am the only freshman in the team and am excited about this project.
                                                I am a tech enthusiast with a keen interest in research and development.
                                                I call myself an "Oxygen Enthusiast" and believe that one day
                                                machines will breathe.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    {% endblock %}

