{% extends 'base.html' %}


{% block cssfiles %}
<style>
.container{background-color:#f1f1f1;}
.watch-card{margin-top:50px;margin-bottom:50px;}
.watch-card > div{max-width:300px;}
.watch-card:hover .artist-title a, .watch-card:hover .listing-tab .tab-content ul li a{color:#167ac9;}
.listing-tab .tab-content ul li:hover{cursor:pointer;text-decoration:underline;}
.artist-title{padding:15px;background:#fff;}
.artist-title a{test-decoration:none;font-size:21px;font-family:arial, san-serif; color:#555;}
.artist-title a:hover{color:#16a3de;}
.artist-collage img{max-width:100%;}
.artist-collage{position:relative;max-height:150px;overflow:hidden;}
.artist-collage,.artist-collage div{padding:0;}
span.play-mix {
    position: absolute;
    top: 38%;
    z-index: 9;
    left: 30%;
    border: 3px solid rgba(255,255,255,.25);
}
span.btn.play-mix-btn {
    background-color: #000;
    padding: 5px 12px;
    border:none;
    border-radius: 2px;
    box-shadow:0 0 70px rgba(255,255,255,.5);
}
.collage-rhs img{margin-top:-5px;}
span.play-mix-btn:hover {
    box-shadow: 0 0 80px rgba(255,255,255,.9);
}
.listing-tab{
    padding:0;
}.related-artist .artist-next{padding-left:0;}
.related-artist .col-md-12{padding-right:0;}
.play-mix-btn span {
    color: #1775bc;
}
.related-artist img{width:100%;}
.related-artist h3 {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 9px;
}.related-artist{overflow:hidden;padding-bottom:10px;}
.listing-tab .tab-content ul{padding:0;margin:0;}
.listing-tab .tab-content ul li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
}.listing-tab .tab-content ul li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
    padding-left: 20px;
    font-size: 13px;
    color: #666;
}.listing-tab .tab-content ul li a{text-decoration:none; color:#666;}
.listing-tab .tab-content ul li span{display:inline-block;float:right;padding-right:10px;}
.listing-tab .nav-tabs>li,.nav-tabs>li a:hover{margin-bottom:0;background:none;}
.listing-tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border:none;background:none;}
.listing-tab .nav-tabs>li>a:hover{border-color:none;color:red;}
.listing-tab .nav-tabs>li>a{border:0;padding:17px 0 7px;color:#333;margin-left:15px;}
.listing-tab .nav-tabs>li.active>a{border-bottom:2px solid #bb0000;color:#000;}
.listing-tab{background-color:#fff;}
.btn-success {
  background-color: #41B314;
  border-radius: 0;
  width:100%;}
  .btn-danger {
  border-radius: 0;
  width:100%;}
.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}
.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}
.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	font-size:24px;
	margin-top:18px;
}
a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}
a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}
</style>
{% endblock %}

{% block home_active %}
<li><a href="% url 'home:index' %}" class="active"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
{% endblock %}

{% block main %}


<div class="main">
    <!-- MAIN CONTENT -->

    <div class="container">
        <div class="row">
            {% if cultures %}
            {% for i in cultures %}
            <div class="col-md-4 watch-card">
                <div class="artist-title col-md-12">
                    <a href="">{{i.name}}</a><br/>
                    <span>Volume: {{i.volume}}</span>
                </div>

                <div class="listing-tab col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTabs" role="tablist">
                        <li role="presentation" class="active"><a href="#track{{forloop.counter}}"
                                                                  aria-controls="track{{forloop.counter}}" role="tab"
                                                                  data-toggle="tab">General Information</a></li>
                        <li role="presentation"><a href="#albums{{forloop.counter}}"
                                                   aria-controls="albums{{forloop.counter}}" role="tab"
                                                   data-toggle="tab">History</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="track{{forloop.counter}}">
                            <ul>
                                <li><a href="#">Started:</a> <span>{{i.start_date}}</span></li>
                                <li><a href="#">Predicted End:</a> <span>{{i.end_date}}</span></li>
                                <!--<li><a href="#">Upcoming test:</a>  <span>{next test date}</span></li><br>-->
                                <a class="btn btn-success update-pro" href="{% url 'profile:testc' %}"><i class="fa fa-balance-scale"></i> <span>Test the culture</span></a>
                                <hr>
                                <a class="btn btn-danger update-pro" href="{% url 'profile:delete' i.name %}"><i class="fa fa-user"></i> <span>Harvest the culture</span></a>

                            </ul>

                        </div><!--TRACK-->
                        <div role="tabpanel" class="tab-pane" id="albums{{forloop.counter}}">
                            <ul>
                                {% for j in i.ph_test %}
                                <li><a href="#">{date}</a> <span>{PH level}</span></li>
                                {% endfor %}
                                <a class="btn btn-success update-pro" href="{% url 'profile:testc' %}"><i class="fa fa-balance-scale"></i> <span>Test the culture</span></a>
                                <hr>
                                <a class="btn btn-danger update-pro" href="{% url 'profile:delete' i.name %}"><i class="fa fa-user"></i> <span>Harvest the culture</span></a>

                            </ul>
                        </div><!--ALBUMS-->
                    </div><!--tab-content-->
                </div><!--listing-tab-->
            </div><!--watch card-->
            {% endfor %}
            {% else %}
            NO CULTURES YET

            {% endif %}

        </div>
    </div>
    <a href="{% url 'profile:new' %}" class="float">
<i class="fas fa-plus my-float"></i>
</a>
<div class="label-container">
<div class="label-text">Start a new culture</div>
<i class="fa fa-play label-arrow"></i>
</div>


</div>
{% endblock %}

{% block js %}


{% endblock %}